{{#if login}}
<div class="row">
  <div class="col-md-10 col-sm-12">
      <h3>Historial de Pedidos</h3>
      <hr>
      {{# each orders }}
          <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Referencia de Pedido: {{ this._id }}</h3>
              </div>
              <div class="panel-body">
                  <ul class="list-group">
                      {{#each this.items }}
                          <li class="list-group-item">
                              <span class="badge">{{ this.qty }} Unidades</span>
                              {{ this.item.name }} | {{ this.item.sku }}
                          </li>
                      {{/each}}
                  </ul>
              </div>
              <div class="panel-footer">
                  <strong>Total del Pedido: US${{ this.cart.totalPrice }} (Precios Tramo 1)</strong>
              </div>
          </div>
      {{/each}}
  </div>
</div>
{{else}}
<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <h2>No hay pedidos aquí.<br>
          Quizás hace falta <a href="/user/signin">ingresar primero?</a></h2>
    </div>
</div>
{{/if}}
